<!DOCTYPE html>

<html>
<head>
    <title>Shop Chery - KiWi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/bsMiniShop/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/bsMiniShop/css/animate.css">

    <link rel="stylesheet" href="~/bsMiniShop/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/bsMiniShop/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/bsMiniShop/css/magnific-popup.css">
    <link rel="stylesheet" href="~/bsMiniShop/css/aos.css">
    <link rel="stylesheet" href="~/bsMiniShop/css/ionicons.min.css">

    @RenderSection("DateTimepickerCs", false)
    @*<link rel="stylesheet" href="~/bsMiniShop/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/bsMiniShop/css/jquery.timepicker.css">*@

    <link rel="stylesheet" href="~/bsMiniShop/css/flaticon.css">
    <link rel="stylesheet" href="~/bsMiniShop/css/icomoon.css">
    <link rel="stylesheet" href="~/bsMiniShop/css/style.css">

    @*Thu vien js chinh phai dat len tren *@
    <script src="~/bsMiniShop/js/jquery.min.js"></script>

    @* Cho phep view chen noi dung neu co *@
    @RenderSection("styles", false)
</head>
<body class="goto-here">

    <div class="py-1 bg-black">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">+ 1235 2355 98</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text">youremail@email.com</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">3-5 Business days delivery &amp; Free Returns</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")"> Minishop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="@Url.Action("Index","Home")" class="nav-link">Trang Chu</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catalog</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="#"> ABC Shop</a>
                            <a class="dropdown-item" href="#">Single Product</a>
                            <a class="dropdown-item" href="#">Cart</a>
                            <a class="dropdown-item" href="#">Checkout</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="@Url.Action("Index","Home")" class="nav-link">Gioi Thieu</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index","Home")" class="nav-link">Lien He</a></li>
                    <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    @* Cho phep view chen noi dung neu co *@
    @RenderSection("BannerHero", false);

    @* Cho phep view chen noi dung thiet ke chinh cua View *@
    @RenderBody();

    @* Cho phep view chen noi dung neu co *@
    @RenderSection("Gallery", false);

    @* Tich hop Partial Footer *@
    @Html.Partial("_FooterPartial");

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg>
    </div>


    @*Thu vien js hieu ung nen de o duoi *@
    <script src="~/bsMiniShop/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/bsMiniShop/js/popper.min.js"></script>
    <script src="~/bsMiniShop/js/bootstrap.min.js"></script>
    <script src="~/bsMiniShop/js/jquery.easing.1.3.js"></script>
    <script src="~/bsMiniShop/js/jquery.waypoints.min.js"></script>
    <script src="~/bsMiniShop/js/jquery.stellar.min.js"></script>
    <script src="~/bsMiniShop/js/owl.carousel.min.js"></script>
    <script src="~/bsMiniShop/js/jquery.magnific-popup.min.js"></script>
    <script src="~/bsMiniShop/js/aos.js"></script>
    <script src="~/bsMiniShop/js/jquery.animateNumber.min.js"></script>
    @RenderSection("DateTimepickerJs", false);
    @*<script src="~/bsMiniShop/js/bootstrap-datepicker.js"></script>*@
    <script src="~/bsMiniShop/js/scrollax.min.js"></script>
    <script src="~/bsMiniShop/js/main.js"></script>

    @RenderSection("Scripts", false);
</body>
</html>
